<div class="mini-book-container">
  <div class="book-img" (click)="toggle()">
    <img src={{book.image}}>
  </div>
  <div class="book-txt">
    <div class="book-title-author">
      <h3>{{book.title.length > 40 ? book.title.slice(0, 20) + '...' : book.title}}</h3>
      <h4>{{book.author}}</h4>
    </div>
    <div class="book-star">
      <app-stars [numberOfStars]="book.avgStar"></app-stars>
    </div>
  </div>
  <app-book-max *ngIf="toggleVar" [book]="book" (newItemEvent)="toggleParent($event)"></app-book-max>
</div>
