.mini-book-container{
  height: 30rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;

}
.book-img{
  img{
    max-width: 13rem;
    min-width: 13rem;
    min-height: 20rem;
    max-height: 20rem;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
.book-txt{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 1rem;
  .book-title-author{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3{
      font-size: 1.3rem;
    }
    h4{
      font-style: italic;
      font-size: 1.1rem;
    }
  }
}
.book-star{
  display: flex;
  flex-direction: row;
  align-items: center;
  i{
    color: #FFCB77;
  }
}
