<link rel="stylesheet" href="header.component.scss">
<div class="header-main-div">
  <div class="header-div logo-div">
    <i class="fa fa-book fa-5x"></i>
  </div>
  <div class="header-div input-div">
    <form>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cauta autori sau carti">
      <i class="fa fa-search"></i>
    </form>
  </div>
  <div class="header-div user-div">
    <i class="fa fa-user-circle fa-5x"></i>
    <label>Raducanu Adrian</label>
  </div>
</div>


