.header-main-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  height: 8rem;
}
.logo-div{
  padding: 0.6rem;
  border-radius: 50%;
  border: 1.5px solid #363636;
  i{
    font-size: 2rem;
    color: #363636;
  }
}
.input-div{

  width: 40rem;
  form{
    display: flex;
    flex-direction: row;
    align-items: center;
    .fa-search{
      font-size: 1.5rem;
      margin-left: 1rem;
    }
    input{
    border-radius: 3px;
    }
  }

}
.user-div{
  padding: 0.6rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  i{
    font-size: 2rem;
    color: #363636;
    margin: 1rem;
  }

}
