<link rel="stylesheet" href="header.component.scss">
<div class="header-main-div">
  <div class="header-div logo-div">
    <i class="fa fa-book fa-5x"></i>
  </div>
  <div class="header-div input-div">
    <form>
      <input type="text" class="form-control" id="inputSearch" name="titleOrAuthor" placeholder="Cauta autori sau carti" [(ngModel)]="titleOrAuthor" (change)="onClickSearch()">
      <button type="submit" (click)="onClickSearch()">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
  <div class="header-div user-div">
    <i class="fa fa-user-circle fa-5x"></i>
    <label>{{userLogged}}</label>
  </div>
</div>


