<div class="main-page-container">
  <div class="story-div story-with-txt" >
    <div class="story-unhidden">
      <div class="story-text">
        <h4>Despre noi</h4>
        <h5>Prima biblioteca online</h5>
        <button (click)="toggle()">{{!toggleVar ? "Pagina principala" : "Vezi mai mult"}}</button>
      </div>
      <div class="story-image">
        <img src="assets/svg/undraw_books_re_8gea.svg" >
      </div>
    </div>
  </div>
  <div class="description-div" *ngIf="!toggleVar">
    <h4>
      Dacă biblioteca unui anumit oraș ar pune la dispoziția cetățenilor o modalitate on-line de închiriere de cărți, simplă și bine pusă la punct, aceștia ar apela din ce in ce mai mult la serviciile oferite de această instituție.<br>
      Proiectul de față își propune să rezolve acest aspect.
    </h4>
  </div>
  <div class="top-5-books-container" *ngIf="toggleVar">
    <div class="top-5-books-text">
      <h4>Cele mai bune 5 carti</h4>
    </div>
    <div class="top-5-books-list">
      <li *ngFor="let book of bestBooks">
        <app-book-mini [book] = "book"></app-book-mini>
      </li>
    </div>
  </div>

</div>
