<div class="review-container">
  <div class="one-review">
    <i class="fa fa-user-circle"></i>
    <label>{{user.firstName + " " +user.lastName}}</label>
    <i class="fa star" [ngClass]="review.stars >= 1 ? 'fa-star' : 'fa-star-o'"></i>
    <i class="fa star" [ngClass]="review.stars >= 2 ? 'fa-star' : 'fa-star-o'"></i>
    <i class="fa star" [ngClass]="review.stars >= 3 ? 'fa-star' : 'fa-star-o'"></i>
    <i class="fa star" [ngClass]="review.stars >= 4 ? 'fa-star' : 'fa-star-o'"></i>
    <i class="fa star" [ngClass]="review.stars >= 5 ? 'fa-star' : 'fa-star-o'"></i>
  </div>
  <div class="review-description">
    <label id="label-review">
      "{{review.fullReview}}"
    </label>
  </div>
</div>

