.one-review{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fa-user-circle{
  color: #252525;
  font-size: 1.4rem;
}
label{
  font-size: 1.3rem;
  margin: 0 1rem;
  color: #252525;
}
#label-review{
  font-weight: lighter;
  font-size: 1.1rem;
  font-style: italic;
}
.review-container{
  margin: 1rem 0;
}


