.shadow-toggle{
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
.book-max-main-container{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5rem;
  margin-left: -75rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  cursor: auto;
}
.book-max-container{
  color: black;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 24rem;
  height: 25rem;
  width: 100%;
  .book-max-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;

    img{
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      border-radius: 15px 0 0 15px;
    }
  }
  .book-max-txt{
    width: 55%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 0px 15px 15px 0px;
    overflow: hidden;
    .fa-star{
      color: #FFCB77;
    }

    .book-max-txt-container{
      overflow: scroll;
    }
    .reviews{
      display: flex;
      flex-direction: column;

    }

  }
}

#description-book-max{
  font-style: italic;
}

.book-reserve{
  button{
    background: white;
    outline: none;
    padding: 5px 15px;
    border-radius: 3px;
    color: #363636;
    border: 1px solid #363636;
    margin: 1.2rem 0rem;
  }
}

#h5-recenzii{
  color: #ef7a83;
  font-size: 2rem;
}
.reserved{
  cursor: auto;
  color: #ef7a83 !important;
  border: 1px solid #ef7a83 !important;
}
