<div class="shadow-toggle"(click)="toggleParent(falseVar)"></div>
<div class="book-max-main-container" >
  <div class="book-max-container">
    <div class="book-max-img">
      <img src={{book.image}}>
    </div>
    <div class="book-max-txt">
      <div class="book-max-txt-container">
        <h3>{{book.title}}</h3>
        <h4>{{book.author}}</h4>
        <h5>{{book.available ? "Disponibila" : "Rezervata"}}</h5>
        <h5 id="description-book-max">{{book.description}}</h5>
        <div class="book-star">
          <app-stars [numberOfStars]="book.avgStar"></app-stars>
        </div>
        <div class="book-reserve">
          <button *ngIf="!isReserved && !hasReserved" (click)="createBorrow()">Rezerva</button>
          <button class="reserved" *ngIf="isReserved || hasReserved">{{isReserved&&hasReserved ? 'Ai rezervat cartea' : 'Indisponibila'}}</button>
        </div>
        <h5 id="h5-recenzii">Recenzii</h5>
        <div class="reviews">
          <div class="one-review" *ngFor="let review of reviews">
            <app-review [review]="review"></app-review>
          </div>
          <div class="one-review" *ngIf="reviews.length===0">
            <label>Fara recenzii</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

