@import '~bootstrap/dist/css/bootstrap.min.css';

*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Varela Round", sans-serif;
}
$whitish : #F6F6F6;
$purplish : #413B88;
$yellowish : #F4E7DE;
$blackish : #252525;
$greyish : #D7D9DC;
