.menu-main-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  .menu-titles-div{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.menu-pages-div{
  height: 65rem;
}

.dash{
  height: 0.3rem;
  width: 0.3rem;
  border-radius: 2rem;
  position: center;
}
.dash-visible{
  background: #252525;
}
.dash-invisible{
  background: transparent;
}
.title-bold{
  color: #363636;
}
.title-normal{
  color: #D7D9DC;
}

a{
  all: unset;
}
