<div class="menu-container">
  <div class = "menu-main-div">
    <div class = "menu-titles-div menu-main-page-div" (click)="switchToMain()">
      <a routerLink="/main-page">
        <h4 [ngClass]="pagesSwitch===1 ? 'title-bold' : 'title-normal'">PAGINA PRINCIPALA</h4>
      </a>
      <div class="dash" [ngClass]="pagesSwitch===1 ? 'dash-visible' : 'dash-invisible'"></div>
    </div>
    <div class = "menu-titles-div menu-books-div" (click)="switchToBooks()">
      <a routerLink="/books-page">
        <h4 [ngClass]="pagesSwitch===2 ? 'title-bold' : 'title-normal'">CARTI</h4>
      </a>
      <div class="dash" [ngClass]="pagesSwitch===2 ? 'dash-visible' : 'dash-invisible'"></div>

    </div>
    <div class = "menu-titles-div menu-random-div" (click)="switchToRandom()">
      <a routerLink="/random-page">
        <h4 [ngClass]="pagesSwitch===3 ? 'title-bold' : 'title-normal'">RECOMANDAREA NOASTRA</h4>
      </a>
      <div class="dash" [ngClass]="pagesSwitch===3 ? 'dash-visible' : 'dash-invisible'"></div>
    </div>
    <div class = "menu-titles-div menu-account-div" (click)="switchToAccount()">
      <a routerLink="/account-page">
        <h4 [ngClass]="pagesSwitch===4 ? 'title-bold' : 'title-normal'">CONTUL TAU</h4>
      </a>
      <div class="dash" [ngClass]="pagesSwitch===4 ? 'dash-visible' : 'dash-invisible'"></div>
    </div>
  </div>
  <div class = "menu-pages-div" [ngSwitch]="pagesSwitch">
    <app-main-page *ngSwitchCase="1"></app-main-page>
    <app-books-page *ngSwitchCase="2"></app-books-page>
    <app-random-page *ngSwitchCase="3"></app-random-page>
    <app-account-page *ngSwitchCase="4" (refresh)="receiveRefresh($event)"></app-account-page>
  </div>
</div>

