<div class="account-container">
  <div class="account-txt-btn">
    <div class="account-text">
      <h2>Salut {{userLogged.firstName}}</h2>
      <h4 *ngIf="userLogged.reviews.length > 0">Ai imprumutat Cartea X pe care trebuie sa o returnezi pana pe 25-07-2021</h4>
      <h4 *ngIf="userLogged.reviews.length === 0">Alege o carte pe care vrei sa o citesti</h4>
    </div>
    <div class="account-button">
      <button (click)="logoff()">Iesi din cont</button>
    </div>
  </div>
  <div class="last-books-container">
    <div class="last-books-text" >
      <h4>{{userBook.length > 0 ? "Ultimile carti imprumutate" : ""}}</h4>
    </div>
    <div class="last-books-list">
      <li *ngFor="let book of userBook">
        <app-book-mini [book]="book"></app-book-mini>
      </li>
    </div>
  </div>

</div>
