.account-container{
  height: 102%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  background: rgba(239, 122, 131, 0.32);
  background-image:
    linear-gradient(0deg, rgba(255,255,255,1) 45%, rgba(255,255,255,0.1) 100%),
    url("/assets/svg/undraw_lost_online_re_upmy.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0, left, right;

  .account-txt-btn{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    padding: 2rem 5rem;
    border-radius: 15px;

    .account-text{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .account-button{
      display: flex;
      align-items: center;
      justify-content: center;
      #return-btn{
        background: #ef7a83;
      }
      button{
        padding:5px 15px;
        background: #625bdc;
        color: #F6F6F6;
        font-weight: lighter;
        outline: none;
        border-radius: 10px;
        border: none;
        font-size: large;
        margin: 0 1rem 1rem 1rem;

      }
    }
  }
}
.last-books-container{
  padding-top: 3rem;
  width: 60%;
  height: 100%;
  overflow: hidden;
  .last-books-text{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    h4{
      font-size: 2rem;
      color: #363636;
    }
  }
  .last-books-list{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;


  }
}
textarea{
  width: 60%;
  height: 30%;
}
.stars{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  p{
    padding-top: 1.2rem;
    color: #D7D9DC;
    margin-left: 0.5rem;
  }
}
.star{
  color: #FFCB77;
  cursor: pointer;
}
.star-full{
  font-size: 2rem;
}
li{
  list-style-type: none;
}
