<div class="account-container">
  <div class="account-txt-btn">
    <div class="account-text">
      <h2>Salut Adrian</h2>
      <h4>Ai imprumutat Cartea X pe care trebuie sa o returnezi pana pe 25-07-2021</h4>
    </div>
    <div class="account-button">
      <button>Iesi din cont</button>
    </div>
  </div>
  <div class="last-books-container">
    <div class="last-books-text">
      <h4>Ultimile carti citite</h4>
    </div>
    <div class="last-books-list">
      <app-book-mini></app-book-mini>
      <app-book-mini></app-book-mini>
      <app-book-mini></app-book-mini>
      <app-book-mini></app-book-mini>
      <app-book-mini></app-book-mini>
      <app-book-mini></app-book-mini>
      <app-book-mini></app-book-mini>
      <app-book-mini></app-book-mini>
      <app-book-mini></app-book-mini>
      <app-book-mini></app-book-mini>
    </div>
  </div>

</div>
