.books-container{
  display: flex;
  height: 100%;
  background-image:
    linear-gradient(90deg, rgba(244,231,222,0) 0%, rgba(255,255,255,1) 45%),
    url("/assets/svg/undraw_book_reading_re_fu2c.svg");
  background-repeat: no-repeat;

  overflow: hidden;
  .filters{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 100%;
    width: 20%;
    margin-left: 10rem;
    .search-button{
      height: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 3rem;
      button{
        margin-bottom: 1rem;
        padding:5px 15px;
        background: #413B88;
        color: #F6F6F6;
        font-weight: lighter;
        outline: none;
        border-radius: 10px;
        border: none;
      }
      #button-delete{
        background: #ef7a83;
      }
    }
    .one-filter{
      display: flex;
      flex-direction: column;
      padding: 0 4rem 0 4rem;

      .filter-title{
        padding-bottom: 1rem;
        color: #413B88;
        font-weight: bold;
        font-size: 18px;
      }
      form{
        display: flex;
        flex-direction: column;
      }
    }
  }

  .books-table{

    width: 80%;
    height: 65rem;
    overflow: hidden;
    .ul-books{
      overflow: scroll;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
      height: 100%;
      width: 100%;
      padding-right: 19rem;
      justify-content: space-around;
      list-style-type: none;
      li{
        margin: 2rem;
      }
    }
  }
}
